<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.study.mapper.EmpMapper">


    <select id="getEmpById" resultType="org.study.entity.Emp">
        SELECT id, emp_name, salary, dept_id
        FROM emp
        WHERE  id = #{id1}
    </select>
    <select id="getEmpByIdName" resultType="org.study.entity.Emp">
        SELECT id, emp_name, salary, dept_id
        FROM emp
        WHERE id=#{arg0} and emp_name = #{param2}
    </select>
    <select id="getEmpByParam" resultType="org.study.entity.Emp">
        SELECT id, emp_name, salary, dept_id
        FROM emp
        WHERE id=#{id} and emp_name = #{empName}
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO emp(emp_name, salary, dept_id)
        VALUES (#{empName}, #{salary}, #{deptId})
    </insert>
</mapper>